
<style type = "text/css">

   .teal {
     color: teal;
    
   }

   .orange {
      color: orange;
      border: solid green 10px;
      padding: 15px;
      float: left;
      width: 300px;
      height: 300px;
      margin: auto;
   }
   .black{
      color:black;
      border: solid orange 10px;
      padding: 15px;
      float: center;
      width: 300px;
      height: 300px;
      margin: auto;
   }
   .green {
      color:green;
      border: solid linen 10px;
      padding: 15px;
      float: right;
      width: 300px;
      height: 300px;
      margin: auto;
   }
</style>
